<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/bookmarks">Bookmarks</a></li>
        <li>

<span class="opener">smuttysujin</span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/daftar-komik">Daftar Komik</a></li>
                <li><a href="/smut">Smut Manga</a></li>
                <li>
                    <span>komik</span>
                    <ul>
                        <li><a href="/manga">Manga</a></li>
                        <li><a href="/manhwa">Manhwa</a></li>
                        <li><a href="/manhua">Manhua</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>





            {% comment %} <li>
            <span>Brightness (Only work in reader)</span>
            <input type="range" class="form-range" id="brightness" min="10" max="100" value="80">
        </li> {% endcomment %}
    </ul>
</nav>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; MADRWGN. All rights reserved. Design: <a
        href="https://madewgn.my.id">Made Wiguna</a>.</p>
</footer>
